body {
  background-color: #223355;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

a:active, a:focus { 
  outline:none; 
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 500px;
  border: 2px;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

#user_nav {
  float: right;
  font-size: 12px;
}

#login_information {
  float: right;
  text-align: right;
}

#notice { background-color: #A4E7A0; border: 1px solid #26722D; }
#alert { background-color: #F0A8A8; border: 1px solid #900; }
#notice, #alert { width: 50%; margin: 0 auto 10px auto; padding: 5px; }
#notice p, #alert p { margin-left: 0px; padding: 0; font-size: .75em; color: #000; }
#notice a, #alert a { text-decoration: none; padding: 0 3px; }
#notice a { border: 1px solid #26722D; color: #26722D; }
#alert a { border: 1px solid #900; color: #900; }
#notice a:hover, #alert a:hover { color: #333; border: 1px solid #333; }


table {
	border-width: 1px 1px 1px 1px;
	border-spacing: 2px;
	border-style: none none none none;
	border-color: gray gray gray gray;
	border-collapse: collapse;
	background-color: white;
	width:50% ;
}
table th {
	border-width: 1px 1px 1px 1px;
	padding: 5px 5px 5px 3px;
	border-style: dotted dotted dotted dotted;
	border-color: black black black black;
	background-color: white;
	text-align: left;
}
table td {
	border-width: 1px 1px 1px 1px;
	padding: 5px 5px 5px 3px;
	border-style: dotted dotted dotted dotted;
	border-color: black black black black;
	background-color: white;
}